doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    include includes/components/medicinetype.pug

    .main.fluid-container
        h1 Delete Medicines
        p Please select the records to delete

        .row.form-group
            .col-xl-12
                form(action='/action_delete', method='post')
                    table.table.table-striped.table-dark(style="margin-bottom: 0;")
                        thead
                            tr
                                th(scope='col') *
                                include includes/expanders/table_headers.pug
                        tbody
                            for item in jsonObj
                                include includes/expanders/json2objects.pug
                                tr
                                    th(scope='row')
                                        input#id( type='checkbox' name='id' value=id)
                                    td #{name}
                                    td #{manufacturer}
                                    td #{batchno}
                                    td #{expiry}
                                    td #{price}
                                    td
                                        +get_medicinetype( type )
                    input.btn.btn-primary(type='submit', value='Delete Selected', style='margin: 10px; float: right;')

    include includes/footer.pug