doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    include includes/components/medicinetype.pug

    .main.fluid-container
        h1 Modify Medicine
        p Please add details to update the records

        .row.form-group
            .col-xl-12
                table.table.table-striped.table-dark(style="margin-bottom: 0;")
                    thead
                        tr
                            th(scope='col') #
                            include includes/expanders/table_headers.pug
                    tbody
                        for item, i in jsonObj
                            include includes/expanders/json2objects.pug
                            
                            form(action='/action_edit', method='post')
                                tr
                                    th(scope='row')
                                        input( type='hidden' name=('medicineid_' + i) id=('medicineid_' + i)  value=id)
                                        | #{id}
                                    td
                                        input.form-control( type='text' name=('name_' + i) id=('name_' + i) value=name)
                                    td
                                        input.form-control( type='text' name=('manufacturer_' + i) id=('manufacturer_' + i) value=manufacturer)
                                    td
                                        input.form-control( type='number' name=('batchno_' + i) id=('batchno_' + i) value=batchno)
                                    td
                                        input.form-control( type='date' name=('expiry_' + i) id=('expiry_' + i) value=expiry)
                                    td
                                        input.form-control( type='text' name=('price_' + i) id=('price_' + i) value=price)
                                    td
                                        +render_medicinetype('type_' + i)
                                        
                                        script.
                                            $('#type_' + #{i}).val( #{type} );
                                    td
                                        input.btn.btn-primary(type='submit', value='Save')


    include includes/footer.pug