doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    include includes/components/medicinetype.pug
    
    .main.fluid-container
        h1 View Medicine
        
        .row.form-group
            .col-xl-12
                table.table.table-striped.table-dark
                    thead
                        tr
                            th(scope='col') #
                            include includes/expanders/table_headers.pug
                            th(scope='col') Action
                    tbody
                        for item in jsonObj
                            include includes/expanders/json2objects.pug
                            tr
                                th(scope='row') #{id}
                                td #{name}
                                td #{manufacturer}
                                td #{batchno}
                                td #{expiry}
                                td #{price}
                                td
                                    +get_medicinetype( type )
                                td.form-group
                                    form(action='/action_delete', method='post', style='float: left;')
                                        input( type='hidden' name='medicineid' id='medicineid' value=id)
                                        input.btn.btn-primary(type='submit', value='Delete', style='margin: 0 10px;')
                                    form(action='/action_redirect', method='post')
                                        input( type='hidden' name='medicineid' id='medicineid'  value=id)
                                        input.btn.btn-primary(type='submit', value='Edit')


    include includes/footer.pug